<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title"><%= entityAngularName %></span>
            <p-splitButton [style]="{'float':'right'}" label="Salvar" (onClick)="salvar()" [model]="items"></p-splitButton>
        </div>
    </p-header>
    <%_ for (idx in fields) {
            const fieldName = fields[idx].fieldName;
            const fieldNameCapitalized = fields[idx].fieldNameCapitalized;
            const fieldNameHumanized = fields[idx].fieldNameHumanized;
            const fieldType = fields[idx].fieldType;
            const fieldTypeBlobContent = fields[idx].fieldTypeBlobContent;
            let fieldInputType = 'text';
            let ngModelOption = '';
            if (['Integer', 'Long', 'Float', 'Double', 'BigDecimal'].includes(fieldType)) {
                fieldInputType = 'number';
            } else if (fieldType === 'LocalDate') {
                fieldInputType = 'date';
            } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) {
                fieldInputType = 'datetime-local';
            } else if (fieldType === 'Boolean') {
                fieldInputType = 'checkbox';
            } else if (['byte[]', 'ByteBuffer'].includes(fieldType) && fieldTypeBlobContent !== 'text') {
                fieldInputType = 'hidden';
            }
        _%>
        <h3><%= fieldNameCapitalized %></h3>
        <%_if (['Instant', 'ZonedDateTime'].includes(fieldType)){_%>
        <p-calendar id="<%= fieldName %>" [(ngModel)]="selecionado.<%= fieldName %>" [showTime]="true"></p-calendar>
        <%_}
        else{_%>
        <input id="<%= fieldName %>" type="<%= fieldInputType %>" size="30" pInputText [(ngModel)]="selecionado.<%= fieldName %>">
        <%_}_%>
        <%_ 
}
_%>
     <%_ for (idx in relationships) {
        const relationshipType = relationships[idx].relationshipType;
        const ownerSide = relationships[idx].ownerSide;
        const otherEntityName = relationships[idx].otherEntityName;
        const otherEntityNamePlural = relationships[idx].otherEntityNamePlural;
        const otherEntityNameCapitalized = relationships[idx].otherEntityNameCapitalized;
        const relationshipName = relationships[idx].relationshipName;
        const relationshipNameHumanized = relationships[idx].relationshipNameHumanized;
        const relationshipFieldName = relationships[idx].relationshipFieldName;
        const relationshipFieldNamePlural = relationships[idx].relationshipFieldNamePlural;
        const otherEntityField = relationships[idx].otherEntityField;
        const otherEntityFieldCapitalized = relationships[idx].otherEntityFieldCapitalized;
        const relationshipRequired = relationships[idx].relationshipRequired;
        const translationKey = relationshipName; 
        if (relationshipType === 'many-to-one' || relationshipType === 'one-to-one'){        _%>
        <h3><%=otherEntityNamePlural %></h3>
        <p-dropdown [options]="lista<%=otherEntityNamePlural %>" [(ngModel)]="selecionado.<%=relationshipFieldName %>"></p-dropdown>

<%_ }} _%>
</p-panel>